body 
{
    text-align: left;
    background-image:-webkit-image-set("https://imgs.search.brave.com/In_gQ80EqDzailAWZ4y_itLvjCD4rtetay4WKFrZK9w/rs:fit:800:800:1/g:ce/aHR0cHM6Ly9iaWxk/ZXIzLmVhenlhdWN0/aW9uLmRlL21hZXhs/b2huZS9hcnRpa2Vs/YmlsZGVyLzM0ODg3/LmpwZw");
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #338;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
    border: 1px solid #ddd;
}
#footer
{
    background: #777;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}